.dropbtn {
  background-color: #ea2129;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  border-radius: 3px;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 26%);
  z-index: 1;
  padding: 5px 0px;
}

.dropdown-content a {
  color: black;
  padding: 10px 20px;
  text-decoration: none;
  display: block;
  border-radius: 3px;
  margin: 0px 5px;
}

.dropdown-content a:hover {
  background-color: #00ab6d;
  color: #fff;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
