* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

li,
ul {
  list-style: none;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.hide {
  display: none;
}

.addAwardItem__layer {
  z-index: 1100;
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: fixed; */
  /* top: 0;
  bottom: 0;
  left: 0;
  right: 0; */
  background: rgba(0, 0, 0, 0.6);
}

/* footer */
.addAwardItem__footer {
  display: flex;
  justify-content: center;
}

.addAwardItem__pagination {
  display: flex;
  justify-content: center;
  width: max-content;
  border-radius: 4px;
  /* overflow: hidden; */
}

.pagination__list {
  display: flex;
}

.pagination__button {
  padding: 4px 16px;
  cursor: pointer;
  background-color: #ecf0f1;
  color: #2c3e50;
  border: 1px solid #ddd;
  text-align: center;
  font-weight: 600;
}

.pagination__button:hover {
  color: #ecf0f1;
  background-color: #109ba5;
  border: 1px solid #109ba5;
}

.isSelected {
  color: #ecf0f1;
  background-color: #109ba5;
  border: 1px solid #109ba5;
}
